.btn{
    color: blue;
}
.container{
    text-align;
}
body{
    background-color: lightblue;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}